
<!-- canvas -->
<div #canvas class="canvas" 
    (mousedown)="null"
    (mousemove)="null"
    (mouseup)="null">
  <div class="block">
      <!-- Add images and texts to here -->
      <canvas-img *ngFor="let imgObj of canvasObj.imgArr; let i = index" 
                  class="canvas-elem"
                  [style.top]="(imgObj.y + 'px')"
                  [style.left]="imgObj.x + 'px'"
                  (mousedown)="onMouseDownElem($event, i)"
                  (mousemove)="onMouseMoveElem($event, i)"
                  (mouseup)="onMouseUpElem($event)"
                  (removeImage)=removeImage(i)
                  [imgObj]="imgObj">
      </canvas-img>
      <canvas-txt *ngFor="let txtObj of canvasObj.textArr; let i = index" 
                  class="canvas-elem" 
                  (removeText)=removeText(i)
                  [txtObj]="txtObj">
      </canvas-txt>
  </div>
</div>
